<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./home.css">
  <title>LetsChat</title>
</head>
<body>
  <div class="home-container">
    <div class="header">Welcome Back! LetsChat</div>
    <div class="signin-container">
      <div>New User! Please Sign in</div>
      <div><a href="/signin"><button class="signin-btn">Sign in</button></a></div>
      <div>Already Have An Account? Please Login</div>
      <div><a href="/login"><button class="login-btn">Login</button></a></div>
    </div>
  </div>
</body>
</html>