<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="signin.css">
  <title>LetsChat | Signin</title>
</head>
<body>
  <div class="content">
    <div class="signin-container">
      <div style="font-size: 30px; color: white; text-align: center; font-weight: bolder; margin: 10px 0 10px 0">Fill Details To Signin</div>
      <form action="/" method="POST">
        <div>Full Name</div>
        <input type="text" placeholder="Enter Your Full Name Here" name="userName" class="inputBox">
        <div>Password</div>
        <input type="password" placeholder="Enter a Strong Password" name="userPassword" class="inputBox">
        <div>Admin Pin</div>
        <input type="password" placeholder="Enter The Admin Pin" name="userPin" class="inputBox">
        <div><input type="submit" value="Sign in" class="signin-btn"></div>
      </form>
    </div>
    <hr/ style="backgrcolor: white">
    <div class="btns-container">
      <div><a href="/"><button class="home-btn">Back To Home</button></a></div>
      <div><a href="/login"><button class="login-btn">Login</button></a></div>
    </div>
  </div>
</body>
</html>