* {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
}

.home-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(resources/404.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.msg {
    height: fit-content;
    width: 100%;
    margin: 10px 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bolder;
}

.btn {
    float: left;
    height: 30px;
    width: fit-content;
    background-color: white;
    font-size: 20px;
    color: rgb(49, 49, 243);
    border: 2px solid rgb(49, 49, 243);
    border-radius: 5px;
    margin: 10px 0 10px 0;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(49, 49, 243);
    color: white;
}
